@font-face {
  font-family: "VisbyCF-Bold";
  src: url("../assets/Fonts/VisbyCF/VisbyCF-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "VisbyCF-ExtraBold";
  src: url("../assets/Fonts/VisbyCF/VisbyCF-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url("../assets/Fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

.storybook-alert {
  display: flex;
  flex-direction: row;
  /* min-width: min-content;
    min-height: min-content; */
  border: 1px solid;
  border-color: transparent;
  padding: 10px;
}

.storybook-alertIconDiv {
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
}

.storybook-alertBody {
  display: flex;
  flex-direction: column;
  width: inherit;
}
.storybook-alertHeader p {
  font-family: "VisbyCF-ExtraBold", sans-serif;
  font-size: 12px;
  margin: 0px 0px 4px 0px;
  letter-spacing: 1.5px;
}

.storybook-alertBodyText p {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0px;
}

.storybook-alertButtonDiv {
  align-self: flex-end;
  padding: 0px;
  margin: 4px 0px 0px 0px;
}

.storybook-alertButton {
  font-family: "VisbyCF-ExtraBold", sans-serif;
  border: 0px;
  padding: 0px;
  background-color: transparent;
  outline: none;
}

.storybook-alertButtonDiv:hover {
  opacity: 0.5;
}

.storybook-alertIcon {
  height: 16px;
  width: 16px;
}

.storybook-alertXDiv {
  display: flex;
  justify-self: flex-end;
  margin-left: auto;
}

.storybook-alertXDiv:hover {
  opacity: 0.5;
}

.storybook-alertXButton {
  background-color: transparent;
  outline: none;
  margin-left: 10px;
  border: 0px;
  padding: 0px;
  align-self: flex-start;
  height: 12px;
  width: 12px;
  
}

.storybook-alertXIcon {
  height: 12px;
  width: 12px;
}
