@font-face {
  font-family: 'VisbyCF-ExtraBold';
  src: url('../../assets/Fonts/VisbyCF/VisbyCF-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/Fonts/Open_Sans/OpenSans-Regular.ttf')  format('truetype');
}

.switch-container {
  display: flex;
  align-items: center;
  font-family: 'VisbyCF-Medium', 'OpenSans', sans-serif;
  font-size: 15px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}
  
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 3px;
  top: 3px;
  width: 18px;
  height: 18px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
  
.toggle-switch input[type="checkbox"]:checked + .switch:before {
  transform: translateX(20px);
  background-color: #FFFFFF;
}
  
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #473F91;
}

.labelText {
  padding-right: 20px;
}

.toggle-switch input[type="checkbox"]:disabled:checked + .switch {
  background-color: rgba(78, 63, 145, 0.4);
}

.toggle-switch input[type="checkbox"]:disabled + .switch {
  background-color: rgba(217, 217, 217, 0.4);
}