@font-face {
	font-family: 'VisbyCF-ExtraBold';
	src: url('../assets/Fonts/VisbyCF/VisbyCF-ExtraBold.ttf')  format('truetype');
}

@font-face {
	font-family: 'OpenSans';
	src: url('../assets/Fonts/Open_Sans/OpenSans-Regular.ttf')  format('truetype');
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 300px;
    height: 400px;
    left: 0px;
    top: 0px;

    /* Light/Gray 100 */

    background: #FFFFFF;
    /* Midnight/Midnight 100 */

    border: 1px solid #EAE6FF;
    box-sizing: border-box;
    border-radius: 10px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 20px 0 0;
}

h3 {
	font-family: 'VisbyCF-ExtraBold', 'OpenSans', sans-serif;
    font-size: 24px;
    padding: 20px 0 0 20px;
    text-transform: capitalize;
    margin: 0;
}

.card-content {
    max-width: 260px;
    padding: 0 0 0 20px;
}