.home-container {
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
}

.content-container {
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 10vh 0;
    padding-left: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    flex: 3;
}


.content-container > * {
    margin-left: 20px;
}

.nav-bar img {
    margin: 25px 150px 10px 0px;
}

.nav-image {
    border: 1px solid #D9D9D9;
    border-width: 1px 0;
}


.text-container {
    display: inline-block;
    width: 80vw;
    height: fit-content;
    width: 70%;
    margin-top: 70px;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}




.nav-bar {
    border: 1px solid #D9D9D9;
    border-width: 0px 1px 1px 1px;
    align-self: stretch;
    flex: 1
}




.button-container {
    display: block;
}

.button-container div {
    display: flex;
    max-width: 460px;
    padding: 10px 0;
}

.button-container button + a {
    margin-left: 10px;
}

.button-container a + a {
    margin-left: 10px;
}
