@font-face {
	font-family: 'VisbyCF-ExtraBold';
	src: url('../assets/Fonts/VisbyCF/VisbyCF-ExtraBold.ttf')  format('truetype');
}

@font-face {
	font-family: 'VisbyCF-Medium';
	src: url('../assets/Fonts/VisbyCF/VisbyCF-Medium.ttf')  format('truetype');
}

@font-face {
	font-family: 'OpenSans';
	src: url('../assets/Fonts/Open_Sans/OpenSans-Regular.ttf')  format('truetype');
}

.library-container {
    padding-left: 140px;
    padding-bottom: 10vh;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    max-width: 100vw;
    padding-top: 58px;
}

.library-content-container {
    display: flex;
}

.components-logo {
    width: 129.38px;
    height: 37.45px;
    cursor: pointer;
}

.components-container {
    width: 1060px;
}

.component-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.capy {
    position: absolute;
    left: 100px;
    bottom: 0;
}