.storybook-alert {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 345px;
    border: 0;
    cursor: pointer;
    border-radius: 0.4em;
    line-height: 1;
    padding: 20px 15px 20px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: min-content;
  }

.storybook-alert a {
    font-size: 18px;
    color: rgb(112, 112, 112);
    text-decoration: underline;

}

.storybook-alert a:hover {
    opacity: 0.5;
    transition: color 0.2s;
}

.storybook-alert button {
    display: flex;
    border: none;
}

.storybook-alert button:hover {
    opacity: 0.5;
}

.storybook-alert img {
    height: 25px;
    margin: 0 2% 0 2%;
}