.navbar-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 5% 10px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.2s;
}

.navbar-container--small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    height: 50px;
}

ul {
    list-style-type: none;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    margin: auto;
    padding: 0;
}

/* li {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-right: 45px;
} */

.navbar-tab {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0 20px 0 20px;
}

.navbar-tab a {
    color: white;
    text-decoration: none;
}

.navbar-tab a:hover {
    color: #f38d6a;
    transition: color 0.2s;
}

.hidden {
    display: none;
}

.burger-menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.burger-tab {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.burger-tab a {
    color: #f38d6a;
    text-decoration: none;
}

.burger-tab a:hover {
    color: black;
    transition: color 0.2s;
}

.menu-btn {
    border-radius: 50%;
    padding: 5px;
    border: none;
    background-color: transparent;
}

.menu-btn:hover {
    background-color: rgb(129, 129, 129);
    transition: 0.2s;
}

.exit-btn {
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
    margin-top: 10px;
}

.burger-logo img{
    height: 100%;
}

@media screen and (max-width: 800px) {
    li {
        font-size: 10px;
    }

    img {
        height: 30px;
    }
}

@media screen and (min-width: 401px) {
    #burger-menu-btn-container {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #navbar {
        display: none;
    }
}