.navbar-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 5% 10px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.2s;
}

img {
    height: 50px;
}

ul {
    list-style-type: none;
    display: inherit;
    align-items: inherit;
    margin: auto;
}

li {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-right: 45px;
}

.navbar-tab {
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar-tab:hover {
    color: #f38d6a;
    transition: color 0.2s;
}

.hidden {
    display: none;
}

@media screen and (max-width: 800px) {
    li {
        font-size: 10px;
    }

    img {
        height: 30px;
    }
}

@media screen and (max-width: 400px) {
    #navbar {
        display: none;
    }

    .burger-menu-btn {
        border-radius: 50%;
        padding: 5px;
        border: none;
        background-color: white;
    }

    .burger-menu-btn:hover {
        background-color: rgb(212, 212, 212);
        transition: 0.2s;
    }
}